<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</head>
<body onload="">
	<h1>Hello Spring Boot!!!</h1>
	<!-- <p th:text="${woshi}"></p> -->
	<a class="login" href="/email/login" >登录</a>
	<a class="login" href="/email/register">注册</a>
	<a href="/email/presonal"> <p th:text="${username}"></p> </a>
</body>
</html>